<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}首页{% endblock %}
    </title>
    {% include './viewport.html' %} 
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.4.4/babel.min.js"></script>-->
    <script type="text/javascript" src="/javascripts/plugs/jquery-latest.js"></script>
    <script type="text/javascript" src="/javascripts/plugs/vue.js"></script>
    <script type="text/javascript" src="/javascripts/plugs/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <link href="/javascripts/plugs/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    
    {% block css %}{% endblock %}
</head>

<body>
    {% block comment %}{% endblock %}
    {% block js %}{% endblock %}
</body>

</html>